# Android Studio
*.iws
/.idea/libraries/
/.idea/caches/
/.idea/gradle.xml
/.idea/tasks.xml
/.idea/vcs.xml
/.idea/workspace.xml
/local.properties

# gradle
/.gradle/

# builds and artifacts
/build
/app/*.apk

.idea
*.iml